.DS_Store
*/.DS_Store
Code/.DS_Store
Code/Python/.DS_Store
Code/Python/modules/.DS_Store
Code/Python/modules/__pycache__/*
Code/Arduino/.DS_Store
Code/Arduino/libraries/.DS_Store
*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*
Code/.ipynb_checkpoints/*
Code/python/.ipynb_checkpoints/*
Code/Arduino/.ipynb_checkpoints/*
